php_flag safe_mode ON
php_flag always_populate_raw_post_data Off
php_flag register_globals OFF
php_flag magic_quotes_gpc OFF
php_flag magic_quotes_runtime Off
php_flag magic_quotes_sybase Off
php_flag safe_mode_gid Off
php_flag expose_php OFF
php_flag engine ON
php_flag precision 14
php_flag y2k_compliance ON
php_flag output_buffering Off
php_flag short_open_tag OFF
php_flag register_argc_argv OFF
php_flag sendmail_from soporte@casitaweb.net
php_flag define_syslog_variables OFF
php_flag allow_url_fopen OFF
php_flag upload_max_filesize 1M
php_flag display_errors OFF
php_flag file_uploads OFF
php_flag log_errors OFF
RewriteEngine On
RewriteBase /
Rewriterule ^sitemap.xml /web/cw-sitemapPost.php [PT,L]
Rewriterule ^crear-comunidad(.*)$ index.php?accioncw241=com;m=crearcomunidad [PT,L]
Rewriterule ^comunidades/dir/(.+)/pag-(.+)$ index.php?accioncw241=com;m=dir;cat=$1;paeg=$2 [PT,L]
Rewriterule ^comunidades/dir/(.*)$ index.php?accioncw241=com;m=dir;cat=$1 [PT,L]
Rewriterule ^comunidades/dir(.*)$ index.php?accioncw241=com;m=dir [PT,L]
Rewriterule ^comunidades/tops(.*)$ index.php?accioncw241=com;m=tops [PT,L]
Rewriterule ^comunidades/categoria/(.*)/pag-(.*)$ index.php?accioncw241=com;m=comunidad;cat=$1;pag=$2 [PT,L]
Rewriterule ^comunidades/categoria/(.*)$ index.php?accioncw241=com;m=comunidad;cat=$1 [PT,L]
Rewriterule ^comunidades/editar-tema/(.*)$ index.php?accioncw241=com;m=etema;comun=$1 [PT,L]
Rewriterule ^comunidades/(.*)/administrar(.*)$ index.php?accioncw241=com;m=comunidad;id=$1;miembros=3 [PT,L]
Rewriterule ^comunidades/(.*)/denunciar(.*)$ index.php?accioncw241=com;m=comunidad;id=$1;miembros=8 [PT,L]
Rewriterule ^comunidades/(.*)/publicitar(.*)$ index.php?accioncw241=com;m=comunidad;id=$1;miembros=9 [PT,L]
Rewriterule ^comunidades/(.*)/(.*)/(.*)$ index.php?accioncw241=com;m=articulo;tema=$2 [PT,L]
Rewriterule ^comunidades/(.*)/crear-tema(.*)$ index.php?accioncw241=com;m=ctema;comun=$1 [PT,L]
Rewriterule ^comunidades/(.*)/editar(.*)$ index.php?accioncw241=com;m=ecomunidad;comun=$1 [PT,L]
Rewriterule ^comunidades/(.*)/pag-(.*)$ index.php?accioncw241=com;m=comunidad;id=$1;st=$2 [PT,L]
Rewriterule ^comunidades/buscar/(.*)$ index.php?accioncw241=com;m=buscar$1 [PT,L]
Rewriterule ^comunidades/pag-(.*)$ index.php?accioncw241=com;m=comunidad;pag=$1 [PT,L]
Rewriterule ^comunidades/(.*)$ index.php?accioncw241=com;m=comunidad;id=$1 [PT,L]
Rewriterule ^comunidades(.*)$ index.php?accioncw241=com [PT,L]
Rewriterule ^buscador/(.*)$ index.php?accioncw241=search$1 [PT,L]
Rewriterule ^buscador index.php?accioncw241=search [PT,L]
Rewriterule ^buscargoogle.php(.*)$ index.php?accioncw241=bgoogle$1 [PT,L]
Rewriterule ^perfil/(.+)/(.+)-pag-(.+)$ index.php?accioncw241=profile;user=$1;lugar=$2;pag-seg-15487135=$3 [PT,L]
Rewriterule ^perfil/(.+)/(.+)$ index.php?accioncw241=profile;user=$1;lugar=$2 [PT,L]
Rewriterule ^perfil/(.+)$ index.php?accioncw241=profile;user=$1;lugar=muro [PT,L]
Rewriterule ^perfil/ index.php?accioncw241=profile;lugar=muro [PT,L]
Rewriterule ^perfil index.php?accioncw241=profile;lugar=muro [PT,L]
Rewriterule ^categoria/(.+)/pag-(.+) index.php?pag=$2;catID=$1 [PT,L]
Rewriterule ^categoria/(.*) index.php?catID=$1 [PT,L]
Rewriterule ^tops/(.+)/(.+)$ index.php?accioncw241=TOPs;$1=$2 [PT,L]
Rewriterule ^tops(.*)$ index.php?accioncw241=TOPs [PT,L]
Rewriterule ^editar-apariencia/paso(.*)/$ index.php?accioncw241=rz-seg55555658971;m=tyc23;paso=$1 [PT,L]
Rewriterule ^editar-apariencia/paso(.*)$ index.php?accioncw241=rz-seg55555658971;m=tyc23;paso=$1 [PT,L]
Rewriterule ^editar-apariencia(.*)$ index.php?accioncw241=rz-seg55555658971;m=tyc23 [PT,L]
Rewriterule ^accion-apariencia/paso(.*)/$ /web/cw-info-edit-seg-1344.php?paso=$1 [PT,L]
Rewriterule ^accion-apariencia/paso(.*)$ /web/cw-info-edit-seg-1344.php?paso=$1 [PT,L]
Rewriterule ^editar-perfil/avatar(.*)$ index.php?accioncw241=profile;sa=cuenta [PT,L]
Rewriterule ^editar-perfil/firma(.*)$ index.php?accioncw241=rz-seg011;m=tyc3 [PT,L]
Rewriterule ^contactanos(.*)$ index.php?accioncw241=rz;m=tyc6 [PT,L]
Rewriterule ^editar-perfil(.*)$ index.php?accioncw241=profile;sa=perfil [PT,L]
Rewriterule ^editar-post/id-(.+) index.php?accioncw241=editarPost;post=$1 [PT,L]
Rewriterule ^editar-imagen/(.+) index.php?accioncw241=imagenes;sa=editar;id=$1 [PT,L]
Rewriterule ^agregar(.*)$ index.php?accioncw241=nuevoPost [PT,L]
Rewriterule ^user-comment-img/(.+)/pag-(.+) index.php?accioncw241=profile;user=$1;sa=comentariosimg;pag=$2 [PT,L]
Rewriterule ^user-comment-img/(.*)$ index.php?accioncw241=profile;user=$1;sa=comentariosimg [PT,L]
Rewriterule ^user-comment/(.+)/pag-(.+) index.php?accioncw241=profile;user=$1;sa=comentarios;pag=$2 [PT,L]
Rewriterule ^user-comment/(.*)$ index.php?accioncw241=profile;user=$1;sa=comentarios [PT,L]
Rewriterule ^mensajes/recibidos(.*)$ index.php?accioncw241=mp;sas=recibidos [PT,L]
Rewriterule ^mensajes/enviados/pag-(.*)$ index.php?accioncw241=mp;sas=enviados;pag-seg-145a=$1 [PT,L]
Rewriterule ^mensajes/enviados(.*)$ index.php?accioncw241=mp;sas=enviados [PT,L]
Rewriterule ^mensajes/pag-(.*)$ index.php?accioncw241=mp;sas=recibidos;pag-seg-145a=$1 [PT,L]
Rewriterule ^mensajes(.*)$ index.php?accioncw241=mp [PT,L]
Rewriterule ^tags-(.*)$ index.php?accioncw241=rz;m=tyc14;orden=$1 [PT,L]
Rewriterule ^tags/buscar/(.+)$ index.php?accioncw241=rz;m=tyc666$1 [PT,L]
Rewriterule ^tags/(.+)/pag-(.+)$ index.php?accioncw241=rz;m=tyc999;palabra=$1;nn=t;pag=$2 [PT,L]
Rewriterule ^tags/(.*)$ index.php?accioncw241=rz;m=tyc999;nn=t;palabra=$1 [PT,L]
Rewriterule ^tags(.*)$ index.php?accioncw241=rz;m=tyc14 [PT,L]
Rewriterule ^web/enlazanos/(.*)$ http://casitaweb.net/images/enlazanos/$1 [R,NC]
Rewriterule ^avatar.gif http://casitaweb.net/images/avatar.gif  [R,NC]
Rewriterule ^widget(.*)$ index.php?accioncw241=rz;m=tyc3 [PT,L]
Rewriterule ^chat(.*)$ index.php?accioncw241=rz-seg55555658971;m=tyc2 [PT,L]
Rewriterule ^favoritos/post/pag-(.*)$ index.php?accioncw241=favoritos;tipo=posts;pag=$1 [PT,L]
Rewriterule ^favoritos/imagen/pag-(.*)$ index.php?accioncw241=favoritos;tipo=imagen;pag=$1 [PT,L]
Rewriterule ^favoritos/(.*)$ index.php?accioncw241=favoritos;m=$1 [PT,L]
Rewriterule ^noestilo/post/(.*)$ index.php?accioncw241=printpage;post=$1 [PT,L]
Rewriterule ^imprimir/imagen/(.*)$ /web/imprimir-img-seg-1754.php?id487315=$1 [PT,L]
Rewriterule ^enviar-a-amigo/imagen-(.+)$ index.php?accioncw241=rz;m=tyc12;id=$1 [PT,L]
Rewriterule ^imagenes/ver/(.+) index.php?accioncw241=imagenes;sa=ver;id=$1 [PT,L]
Rewriterule ^imagenes/(.+)/pag-(.+)$ index.php?accioncw241=imagenes;usuario=$1;pag-seg-154s87135=$2 [PT,L]
Rewriterule ^imagenes/(.*)$ index.php?accioncw241=imagenes;usuario=$1 [PT,L]
Rewriterule ^rss/(.+)/(.+)$ /web/rss/rss-$1.php?id=$2 [PT,L]
Rewriterule ^rss/(.*)/ /web/rss/rss-$1.php [PT,L]
Rewriterule ^rss/(.*)$ /web/rss/rss-$1.php [PT,L]
Rewriterule ^registrarse(.*)$ index.php?accioncw241=registrarse [PT,L]
Rewriterule ^moderacion/comunidades/temas/pag-(.*)$ index.php?accioncw241=comA;tema=1;pag=$1 [PT,L]
Rewriterule ^moderacion/comunidades/temas(.*)$ index.php?accioncw241=comA;tema=1 [PT,L]
Rewriterule ^moderacion/comunidades/pag-(.*)$ index.php?accioncw241=comA;pag=$1 [PT,L]
Rewriterule ^moderacion/comunidades(.*)$ index.php?accioncw241=comA [PT,L]
Rewriterule ^moderacion/web/(.*)$ index.php?accioncw241=postsettings;sa=$1 [PT,L]
Rewriterule ^moderacion/muro/pag-(.*)$ index.php?accioncw241=rz-seg011;m=tyc6;pag-seg-157=$1 [PT,L]
Rewriterule ^moderacion/muro(.*)$ index.php?accioncw241=rz-seg011;m=tyc6 [PT,L]
Rewriterule ^moderacion/pms/pag-(.*)$ index.php?accioncw241=rz-seg55555658971;m=tyc12;pag-11sdasd=$1 [PT,L]
Rewriterule ^moderacion/pms(.*)$ index.php?accioncw241=rz-seg55555658971;m=tyc12 [PT,L]
Rewriterule ^moderacion/comunicacion-mod/post/agregar(.*)$ index.php?accioncw241=rz;m=vr2965;post-agregar=1447 [PT,L]
Rewriterule ^moderacion/comunicacion-mod/editar/(.*)$ index.php?accioncw241=rz;m=vr2965;editar=1;id=$1 [PT,L]
Rewriterule ^moderacion/comunicacion-mod/pag-(.*)$ index.php?accioncw241=rz;m=vr2965;inicio=1234;pag=$1 [PT,L]
Rewriterule ^moderacion/comunicacion-mod/post/(.*)$ index.php?accioncw241=rz;m=vr2965;id=$1 [PT,L]
Rewriterule ^moderacion/comunicacion-mod(.*)$ index.php?accioncw241=rz;m=vr2965;inicio=1234 [PT,L]
Rewriterule ^moderacion/edit-user/ban/pag-(.*)$ index.php?accioncw241=ban;pag-seg-15487135=$1 [PT,L]
Rewriterule ^moderacion/edit-user/ban/buscar(.*)$ index.php?accioncw241=ban;sa=buscar$1 [PT,L]
Rewriterule ^moderacion/edit-user/ban/(.*)$ index.php?accioncw241=ban [PT,L]
Rewriterule ^moderacion/edit-user/avatar/(.*)$ index.php?accioncw241=profile;sa=cuenta;u=$1 [PT,L]
Rewriterule ^moderacion/edit-user/firma/(.*)$ index.php?accioncw241=rz-seg011;m=tyc3;u=$1 [PT,L]
Rewriterule ^moderacion/edit-user/perfil/(.*)$ index.php?accioncw241=profile;sa=perfil;u=$1 [PT,L]
Rewriterule ^moderacion/edit-user/nick/(.*)$ index.php?accioncw241=profile;u=$1;sa=perfil;changeusername=1 [PT,L]
Rewriterule ^moderacion/emoticones/(.*)$ index.php?accioncw241=smileys;sa=$1 [PT,L]
Rewriterule ^moderacion/emoticones$ index.php?accioncw241=smileys [PT,L]
Rewriterule ^moderacion/denuncias/pag-(.*)$ index.php?accioncw241=rz;m=denuncias;pag=$1 [PT,L]
Rewriterule ^moderacion/denuncias(.*)$ index.php?accioncw241=rz;m=denuncias [PT,L]
Rewriterule ^moderacion(.*)$ index.php?accioncw241=admin [PT,L]
Rewriterule ^hist-mod(.*)$ index.php?accioncw241=hist-mod [PT,L]
Rewriterule ^pag-(.*)$ index.php?pag=$1 [PT,L]
Rewriterule ^protocolo(.*)$ index.php?accioncw241=rz-seg55555658971;m=tyc5 [PT,L]
Rewriterule ^enlazanos(.*)$ index.php?accioncw241=rz-seg55555658971;m=tyc1 [PT,L]
Rewriterule ^terminos-y-condiciones(.*)$ index.php?accioncw241=rz-seg55555658971;m=tyc3 [PT,L]
Rewriterule ^mapa-del-sitio(.*)$ index.php?accioncw241=mapadelsitio [PT,L]
Rewriterule ^activar-(.+)codigo-(.+) index.php?accioncw241=activate;u=$1;code=$2 [PT,L]
Rewriterule ^reactivar-(.+)$ index.php?accioncw241=activate;sa=resend;u=$1 [PT,L]
Rewriterule ^reactivar(.*)$ index.php?accioncw241=activate;sa=resend [PT,L]
Rewriterule ^recuperar-pass/activar-(.*)$ index.php?accioncw241=activate;user=$1 [PT,L]
Rewriterule ^recuperar-pass/user-(.+)/id-(.+) index.php?accioncw241=reminder;sa=setpassword;u=$1;code=$2 [PT,L]
Rewriterule ^recuperar-pass/enviar(.*)$ index.php?accioncw241=reminder;sa=setpassword2 [PT,L]
Rewriterule ^recuperar-pass/enviando(.*)$ index.php?accioncw241=reminder;sa=mail [PT,L]
Rewriterule ^recuperar-pass index.php?accioncw241=reminder [PT,L]
Rewriterule ^conectar/acepta-(.*)$ index.php?accioncw241=coppa;member=$1 [PT,L]
Rewriterule ^notificaciones(.*)$ index.php?accioncw241=monitorUser [PT,L]
Rewriterule ^men-especial(.*)$ index.php?accioncw241=rz;m=tyc24 [PT,L]
Rewriterule ^conectados(.*)$  index.php?accioncw241=xdas54d48as7d77 [PT,L]
Rewriterule ^recomendacion-enviada(.*)$ index.php?accioncw241=rz-seg55555658971;m=tyc;llego218574=252 [PT,L]
Rewriterule ^recomendar(.*)$ index.php?accioncw241=rz-seg55555658971;m=tyc [PT,L]
Rewriterule ^mis-notas/pag-(.*)$ index.php?accioncw241=rz-seg55555658971;m=tyc17;accion=misnotas;pag=$1 [PT,L]
Rewriterule ^mis-notas(.*)$ index.php?accioncw241=rz-seg55555658971;m=tyc17;accion=misnotas [PT,L]
Rewriterule ^post/(.+)/(.+)/(.+)$ index.php?post=$1;cat=$2;titulo=$3 [PT,L]